<app-navbar></app-navbar>

<app-sidebar>

  <!-- conteudo ng-content -->
  <div class="card">
    <h4 class="card-header text-center">Lista de Conteiners</h4>
    <div class="card-body">

      <div class="pt-5 container table-responsive-sm">
        <table class="table table-hover text-center table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Código Conteiner</th>
              <th scope="col">Tipo Conteiner</th>
              <th scope="col">Status</th>
              <th scope="col">Categoria</th>
              <th scope="col">Ação</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let conteiners of conteinerDTO">
              <th scope="row">{{ conteiners.id }}</th>
              <td>{{ conteiners.cliente }}</td>
              <td>{{ conteiners.codigoConteiner }}</td>
              <td>{{ conteiners.tipoConteiner }}</td>
              <td>{{ conteiners.status }}</td>
              <td>{{ conteiners.categoria }}</td>
              <td>
                <button type="button" class="btn btn-info btn-sm">Alterar</button>
                <button type="button" class="btn btn-danger btn-sm">Deletar</button>
              </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- fim conteudo ng-content -->


</app-sidebar>
