<app-navbar></app-navbar>


<app-sidebar>

  <!-- conteudo ng-content -->
  <div class="card">
    <h4 class="card-header text-center">Cadastro de Movimentações de Conteiners</h4>
    <div class="card-body">

      <section>
        <div>
            <!-- FORM -->
            <form class="container" [formGroup]="formGroup">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="dataHoraInicio">Data Hora Inicio</label>
                      <input [ngClass]="{'input-error': formGroup.get('dataHoraInicio')?.invalid}" type="datetime-local" class="form-control" formControlName="dataHoraInicio" id="dataHoraInicio" placeholder="Data Hora Inicio">
                        <app-show-validation-errors [formCtrl]="formGroup.get('dataHoraInicio')"></app-show-validation-errors>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dataHoraFim">Data e Hora Fim</label>
                        <input formControlName="dataHoraFim" type="datetime-local"class="form-control" id="dataHoraFim" value="" placeholder="Data Fim">
                    </div>
                </div>

                <div class="form-row">

                  <div class="form-group col-md-6">
                    <label for="conteiner">Conteiner</label>
                    <select formControlName="conteiner" id="conteiner" class="form-control" [compareWith]="compararConteiners">
                        <option value="">Selecione...</option>
                        <option *ngFor="let conteiners of conteinerDTO" [ngValue]="conteiners" >{{ conteiners.codigoConteiner }}</option>
                    </select>
                </div>

                    <div class="form-group col-md-6">
                        <label for="tipoMovimentacao">Tipo Movimentação</label>
                        <select formControlName="tipoMovimentacao" id="tipoMovimentacao" class="form-control">
                            <option value="">Selecione...</option>
                            <option *ngFor="let tipos of tipoMovimentacoes" [ngValue]="tipos">{{ tipos }}</option>
                        </select>
                    </div>

                </div>

                <input type="hidden" id="id" name="id" value="" />
                <button (click)="salvar()" type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>

    </section>
    </div>
  </div>
  <!-- fim conteudo ng-content -->

</app-sidebar>
